In [45]:
import pandas as pd

In [57]:
data = pd.read_csv('data.csv', sep = '\t')
    
for i in range(data['Tipo'].size):
    data['Tipo'][i] = data['Tipo'][i].lower()
    word = data['Tipo'][i].split()
    data['Tipo'][i] = word[1]
    
    if(data['Tipo'][i] == '1') or (data['Tipo'][i] == 'um'):
        data['Tipo'][i] = 1
    elif(data['Tipo'][i] == '2') or (data['Tipo'][i] == 'dois'):
        data['Tipo'][i] = 2
    elif(data['Tipo'][i] == '3') or ('tr' in data['Tipo'][i]):
        data['Tipo'][i] = 3

In [58]:
print data['Tipo']

0         1
1         2
2         3
3         1
4         1
5         1
6         2
7         3
8         1
9         1
10        1
11        3
12        3
13        2
14        2
15        3
16        2
17        2
18        3
19        1
20        1
21        1
22        3
23        1
24        3
25        1
26        3
27        3
28        1
29        2
       ...
120    tres
121       1
122       3
123       3
124       1
125       2
126       2
127       1
128       3
129       2
130       2
131       3
132       3
133       1
134       2
135       2
136    tres
137       1
138       3
139       1
140       3
141       3
142       2
143       3
144       2
145       1
146       3
147       1
148       2
149       1
Name: Tipo, Length: 150, dtype: object