Importa **pandas** para acessar a tabela de dados

In [1]:
import pandas as pd

Carregando o dado

In [2]:
#carregando os dados no objeto DataFrame
data = pd.read_csv('data.csv')

#mostrando os dados carregados
print(data)

    comprimento corpo largura corpo comprimento flagelo largura flagelo  \
0                 4,6           3,2                 1,4             0,2
1                 5,9             3                 4,2             1,5
2                 7,7           2,8                 6,7               2
3                 5,2           3,5                 1,5             0,2
4                   5           3,3                 1,4             0,2
5                 4,9           3,1                 1,5             0,1
6                 5,8           2,7                 3,9             1,2
7                 6,4           2,7                 5,3             1,9
8                 4,4           3,2                 1,3             0,2
9                   5           3,4                 1,5             0,2
10                4,7           3,2                 1,3             0,2
11                6,2           2,8                 4,8             1,8
12                6,9           3,1                 5,1             2,3
13                5,5           2,4                 3,7               1
14                5,6           2,5                 3,9             1,1
15                6,3           2,9                 5,6             1,8
16                  6           2,7                 5,1             1,6
17                5,7           2,8                 4,5             1,3
18                6,5             3                 5,2               2
19                  5           3,4                 1,6             0,4
20                5,1           3,7                 1,5             0,4
21                5,5           3,5                 1,3             0,2
22                7,3           2,9                 6,3             1,8
23                5,4           3,4                 1,5             0,4
24                5,7           2,5                   5               2
25                4,9           3,1                 1,5             0,1
26                7,7             3                 6,1             2,3
27                6,4           3,2                 5,3             2,3
28                5,1           3,8                 1,9             0,4
29                5,5           2,5                   4             1,3
..                ...           ...                 ...             ...
120               6,3           2,7                 4,9             1,8
121               5,5           4,2                 1,4             0,2
122               6,4           3,1                 5,5             1,8
123               6,3           3,3                   6             2,5
124               5,2           3,4                 1,4             0,2
125               5,5           2,3                   4             1,3
126               6,3           2,3                 4,4             1,3
127               4,4           2,9                 1,4             0,2
128               6,7           3,1                 5,6             2,4
129               6,2           2,9                 4,3             1,3
130               5,1           2,5                   3             1,1
131               7,1             3                 5,9             2,1
132               6,3           2,5                   5             1,9
133               5,1           3,5                 1,4             0,2
134                 6           2,9                 4,5             1,5
135               5,6           2,7                 4,2             1,3
136               6,9           3,2                 5,7             2,3
137               5,4           3,4                 1,7             0,2
138               6,5             3                 5,5             1,8
139               5,2           4,1                 1,5             0,1
140               7,2           3,2                   6             1,8
141               5,6           2,8                 4,9               2
142               5,5           2,4                 3,8             1,1
143               6,3           2,8                 5,1             1,5
144               6,8           2,8                 4,8             1,4
145               5,1           3,3                 1,7             0,5
146               5,9             3                 5,1             1,8
147               4,9             3                 1,4             0,2
148               6,9           3,1                 4,9             1,5
149               4,8             3                 1,4             0,3

              Tipo
0       Bactéria 1
1       Bactéria 2
2       Bactéria 3
3      Bactéria Um
4       Bactéria 1
5       Bacteria 1
6       Bactéria 2
7       Bactéria 3
8       Bactéria 1
9       Bactéria 1
10     Bactéria Um
11      Bactéria 3
12      Bactéria 3
13    Bactria dois
14   Bacteria dois
15      Bactéria 3
16      Bactéria 2
17      Bacteria 2
18      Bactéria 3
19     Bactéria Um
20      Bacteria 1
21     Bactéria Um
22      Bacteria 3
23     Bactéria Um
24       Bactera 3
25     Bactéria Um
26      Bactéria 3
27      Bactéria 3
28     Bactéria Um
29      Bactéria 2
..             ...
120   Bactera tres
121    Bactéria Um
122     Bactéria 3
123     Bactéria 3
124    Bactéria Um
125     Bactéria 2
126      Bactera 2
127    Bactéria Um
128     Bactéria 3
129     Bactéria 2
130     Bactéria 2
131     Bactéria 3
132      Batéria 3
133    Bactéria Um
134   Bactria dois
135     Bactéria 2
136   Bactera tres
137    Bacteria Um
138     Bactéria 3
139    Bactéria Um
140     Bactéria 3
141     Bactéria 3
142     Bactéria 2
143  Bactéria Três
144     Bactéria 2
145    Bactéria Um
146     Bactéria 3
147    Bactéria Um
148     Bactéria 2
149    Bactéria Um

[150 rows x 5 columns]

Trabalhando com a coluna tipo perceba que necessitamos apenas da segunda palavra, portanto, tiramos a primeira

In [3]:
#retirando a primeira palavra
for i in range(data['Tipo'].size):
    word= data['Tipo'][i].split(' ')
    data['Tipo'][i]=word[-1]

Visualizando a coluna

In [4]:
print(data['Tipo'])

0         1
1         2
2         3
3        Um
4         1
5         1
6         2
7         3
8         1
9         1
10       Um
11        3
12        3
13     dois
14     dois
15        3
16        2
17        2
18        3
19       Um
20        1
21       Um
22        3
23       Um
24        3
25       Um
26        3
27        3
28       Um
29        2
       ...
120    tres
121      Um
122       3
123       3
124      Um
125       2
126       2
127      Um
128       3
129       2
130       2
131       3
132       3
133      Um
134    dois
135       2
136    tres
137      Um
138       3
139      Um
140       3
141       3
142       2
143    Três
144       2
145      Um
146       3
147      Um
148       2
149      Um
Name: Tipo, dtype: object

Agora precisamos montar o conjunto e mapear o mesmo com os nomes de cada classe

In [5]:
# pegando apenas uma ocorrência de cada palavra
conjunto = set(data['Tipo'])

#dicionário 
mapa = dict()

#mapeando os nomes 
for element in conjunto:
    print("A que classe [%s] pertence?" %(element))
    mapa[element]=input()

A que classe [dois] pertence?
2
A que classe [tres] pertence?
3
A que classe [3] pertence?
3
A que classe [1] pertence?
1
A que classe [três] pertence?
3
A que classe [Três] pertence?
3
A que classe [Dois] pertence?
2
A que classe [2] pertence?
2
A que classe [Um] pertence?
1
A que classe [Tres] pertence?
3

Visualizando esse dado

In [6]:
print(mapa)

{'dois': '2', '1': '1', 'três': '3', 'tres': '3', 'Três': '3', 'Dois': '2', '2': '2', 'Um': '1', 'Tres': '3', '3': '3'}

Agora resta substituir na coluna principal

In [7]:
for i in range(data['Tipo'].size):
    data['Tipo'][i]=data['Tipo'][i].replace(data['Tipo'][i],mapa[data['Tipo'][i]])

O resultado foi:

In [8]:
print(data['Tipo'])

0      1
1      2
2      3
3      1
4      1
5      1
6      2
7      3
8      1
9      1
10     1
11     3
12     3
13     2
14     2
15     3
16     2
17     2
18     3
19     1
20     1
21     1
22     3
23     1
24     3
25     1
26     3
27     3
28     1
29     2
      ..
120    3
121    1
122    3
123    3
124    1
125    2
126    2
127    1
128    3
129    2
130    2
131    3
132    3
133    1
134    2
135    2
136    3
137    1
138    3
139    1
140    3
141    3
142    2
143    3
144    2
145    1
146    3
147    1
148    2
149    1
Name: Tipo, dtype: object

Ainda precisamos substituir a ',' por '.' no resto do nosso conjuno de dados, para isso definimos a função

In [9]:
def replacing(col):
    for i in range(col.size):
        col[i]=col[i].replace(',','.')

Realizando para todas as colunas

In [10]:
replacing(data['comprimento corpo'])
replacing(data['largura corpo'])
replacing(data['comprimento flagelo'])
replacing(data['largura flagelo'])

Dado final:

In [11]:
print(data)

    comprimento corpo largura corpo comprimento flagelo largura flagelo Tipo
0                 4.6           3.2                 1.4             0.2    1
1                 5.9             3                 4.2             1.5    2
2                 7.7           2.8                 6.7               2    3
3                 5.2           3.5                 1.5             0.2    1
4                   5           3.3                 1.4             0.2    1
5                 4.9           3.1                 1.5             0.1    1
6                 5.8           2.7                 3.9             1.2    2
7                 6.4           2.7                 5.3             1.9    3
8                 4.4           3.2                 1.3             0.2    1
9                   5           3.4                 1.5             0.2    1
10                4.7           3.2                 1.3             0.2    1
11                6.2           2.8                 4.8             1.8    3
12                6.9           3.1                 5.1             2.3    3
13                5.5           2.4                 3.7               1    2
14                5.6           2.5                 3.9             1.1    2
15                6.3           2.9                 5.6             1.8    3
16                  6           2.7                 5.1             1.6    2
17                5.7           2.8                 4.5             1.3    2
18                6.5             3                 5.2               2    3
19                  5           3.4                 1.6             0.4    1
20                5.1           3.7                 1.5             0.4    1
21                5.5           3.5                 1.3             0.2    1
22                7.3           2.9                 6.3             1.8    3
23                5.4           3.4                 1.5             0.4    1
24                5.7           2.5                   5               2    3
25                4.9           3.1                 1.5             0.1    1
26                7.7             3                 6.1             2.3    3
27                6.4           3.2                 5.3             2.3    3
28                5.1           3.8                 1.9             0.4    1
29                5.5           2.5                   4             1.3    2
..                ...           ...                 ...             ...  ...
120               6.3           2.7                 4.9             1.8    3
121               5.5           4.2                 1.4             0.2    1
122               6.4           3.1                 5.5             1.8    3
123               6.3           3.3                   6             2.5    3
124               5.2           3.4                 1.4             0.2    1
125               5.5           2.3                   4             1.3    2
126               6.3           2.3                 4.4             1.3    2
127               4.4           2.9                 1.4             0.2    1
128               6.7           3.1                 5.6             2.4    3
129               6.2           2.9                 4.3             1.3    2
130               5.1           2.5                   3             1.1    2
131               7.1             3                 5.9             2.1    3
132               6.3           2.5                   5             1.9    3
133               5.1           3.5                 1.4             0.2    1
134                 6           2.9                 4.5             1.5    2
135               5.6           2.7                 4.2             1.3    2
136               6.9           3.2                 5.7             2.3    3
137               5.4           3.4                 1.7             0.2    1
138               6.5             3                 5.5             1.8    3
139               5.2           4.1                 1.5             0.1    1
140               7.2           3.2                   6             1.8    3
141               5.6           2.8                 4.9               2    3
142               5.5           2.4                 3.8             1.1    2
143               6.3           2.8                 5.1             1.5    3
144               6.8           2.8                 4.8             1.4    2
145               5.1           3.3                 1.7             0.5    1
146               5.9             3                 5.1             1.8    3
147               4.9             3                 1.4             0.2    1
148               6.9           3.1                 4.9             1.5    2
149               4.8             3                 1.4             0.3    1

[150 rows x 5 columns]

Salvando em um arquivo .csv

In [12]:
data.to_csv('resultado.csv')